html, body
{
  height: 100%;
  margin: 0;
  background-color: aqua;
}

.login_div
{
	background:wheat;
    float: none;
    border-radius:11px;
}

.logo
{
	width: 65px;
    margin-top: 30px;
    border-radius: 40px;
}


#logout
{
    float: left;
}


#output
{
	padding: 10px;
 width:80%;
    background:wheat;
    border-radius: 15px;
}


